<?xml version="1.0" encoding="utf-8"?>
<!-- This file is necessary to start the application in Azure or on IIS.  It tells IIS to forward requests to the DNX app. -->
<configuration>
	<system.webServer>
		<handlers>
			<add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
		</handlers>
		<httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
	</system.webServer>
</configuration>
